.background    { background: url("https://c1.staticflickr.com/4/3608/3398192516_577fc4656e_b.jpg");
                 background-size: auto;
                 table-layout: fixed;
                   border-spacing: 0;  }
.background td { padding: 0;          }
.lava          { background: url("https://sftextures.com/texture/6796/0/6795/bright-red-lava-burning-yellow-magma-molten-rock-ground-seamless-tileable-high-resolution-texture-256x256.jpg");
                 background-size: 100px 100px; }
.wall          { background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9MczBVg7cic8FOV2lB7XYZBuTPTtJmiQswa2fmYd1KgGL3KiYJw");
                background-size: auto;  }
.water         { background: blue;}

.actor  { position: absolute;  }
.player { background: yellow; }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
